In [61]:
import pandas as pd
import numpy as np
import datetime
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt 
import matplotlib.colors as mcolors
plt.style.use('fivethirtyeight')
%matplotlib inline

In [2]:
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [3]:
'''confirmed_df.head()'''

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21,6/1/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,65728,66275,66903,67743,68366,69130,70111,70761,71838,72977
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132209,132215,132229,132244,132264,132285,132297,132309,132315,132337
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,126860,127107,127361,127646,127926,128198,128456,128725,128913,129218
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13569,13569,13664,13671,13682,13693,13693,13693,13727,13729
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,32441,32623,32933,33338,33607,33944,34180,34366,34551,34752

In [7]:
'''len(confirmed_df["Country/Region"])'''

'len(confirmed_df["Country/Region"])'

In [8]:
'''for i in range(len(confirmed_df["Country/Region"])):
    print (i, confirmed_df["Country/Region"][i])'''

'for i in range(len(confirmed_df["Country/Region"])):\n    print (i, confirmed_df["Country/Region"][i])'

In [9]:
'''confirmed_df["Country/Region"][236]'''

'confirmed_df["Country/Region"][236]'

In [10]:
print(confirmed_df.loc[[236]])

    Province/State Country/Region       Lat       Long  1/22/20  1/23/20  \
236            NaN      Sri Lanka  7.873054  80.771797        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  ...  5/23/21  5/24/21  5/25/21  \
236        0        0        0        1  ...   164201   167172   169900

     5/26/21  5/27/21  5/28/21  5/29/21  5/30/21  5/31/21  6/1/21
236   172277   174861   177711   180593   183452   186364  189241

[1 rows x 501 columns]

In [11]:
sl_confirmed_df = pd.DataFrame(confirmed_df.loc[[236]])

In [12]:
sl_confirmed_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21,6/1/21
236,NaN,Sri Lanka,7.873054,80.771797,0,0,0,0,0,1,...,164201,167172,169900,172277,174861,177711,180593,183452,186364,189241

In [13]:
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [14]:
deaths_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21,6/1/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2802,2812,2836,2855,2869,2881,2899,2919,2944,2973
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2444,2445,2447,2447,2447,2448,2449,2450,2451,2451
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3418,3426,3433,3440,3448,3455,3460,3465,3472,3480
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,725,731,735,742,745,749,757,764,766,772

In [15]:
print(deaths_df.loc[[236]])

    Province/State Country/Region       Lat       Long  1/22/20  1/23/20  \
236            NaN      Sri Lanka  7.873054  80.771797        0        0

     1/24/20  1/25/20  1/26/20  1/27/20  ...  5/23/21  5/24/21  5/25/21  \
236        0        0        0        0  ...     1210     1243     1269

     5/26/21  5/27/21  5/28/21  5/29/21  5/30/21  5/31/21  6/1/21
236     1298     1298     1363     1363     1441     1441    1484

[1 rows x 501 columns]

In [16]:
sl_deaths_df = pd.DataFrame(deaths_df.loc[[236]])

In [17]:
sl_deaths_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21,5/30/21,5/31/21,6/1/21
236,NaN,Sri Lanka,7.873054,80.771797,0,0,0,0,0,0,...,1210,1243,1269,1298,1298,1363,1363,1441,1441,1484

In [18]:
latest_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/05-31-2021.csv')

In [19]:
latest_data.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-06-01 04:23:09,33.93911,67.709953,71838,2944,57629.0,11265.0,Afghanistan,184.539074,4.098110
1,NaN,NaN,NaN,Albania,2021-06-01 04:23:09,41.15330,20.168300,132315,2451,129431.0,433.0,Albania,4597.783029,1.852398
2,NaN,NaN,NaN,Algeria,2021-06-01 04:23:09,28.03390,1.659600,128913,3472,89839.0,35602.0,Algeria,293.979325,2.693289
3,NaN,NaN,NaN,Andorra,2021-06-01 04:23:09,42.50630,1.521800,13727,127,13458.0,142.0,Andorra,17766.129554,0.925184
4,NaN,NaN,NaN,Angola,2021-06-01 04:23:09,-11.20270,17.873900,34551,766,28079.0,5706.0,Angola,105.126022,2.217013

In [20]:
'''for i in range(len(latest_data.Country_Region)):
    print (i,latest_data.Country_Region[i])'''

'for i in range(len(latest_data.Country_Region)):\n    print (i,latest_data.Country_Region[i])'

In [21]:
latest_data.Country_Region[618]

'Sri Lanka'

In [22]:
print(latest_data.loc[[618]])

     FIPS Admin2 Province_State Country_Region          Last_Update       Lat  \
618   NaN    NaN            NaN      Sri Lanka  2021-06-01 04:23:09  7.873054

         Long_  Confirmed  Deaths  Recovered   Active Combined_Key  \
618  80.771797     186364    1441   151740.0  33183.0    Sri Lanka

     Incident_Rate  Case_Fatality_Ratio
618     870.320946             0.773218

In [23]:
sl_latest_data = pd.DataFrame(latest_data.loc[[618]])

In [24]:
sl_latest_data

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
618,NaN,NaN,NaN,Sri Lanka,2021-06-01 04:23:09,7.873054,80.771797,186364,1441,151740.0,33183.0,Sri Lanka,870.320946,0.773218

In [26]:
cols = sl_confirmed_df.keys()

In [34]:
#Get all the dates for the ongoing coronavirus pandemic

In [35]:
sl_confirmed = sl_confirmed_df.loc[:, cols[4]:cols[-1]]
sl_deaths = sl_deaths_df.loc[:, cols[4]:cols[-1]]

In [36]:
dates = sl_confirmed.keys()
sl_cases = []
sl_total_deaths = [] 
sl_mortality_rate = []
# recovery_rate = [] 
# total_recovered = [] 
# total_active = [] 

for i in dates:
    sl_confirmed_sum = confirmed[i].sum()
    sl_death_sum = deaths[i].sum()
#     recovered_sum = recoveries[i].sum()
    
    # confirmed, deaths, recovered, and active
    sl_cases.append(sl_confirmed_sum)
    sl_total_deaths.append(sl_death_sum)
#     total_recovered.append(recovered_sum)
#     total_active.append(confirmed_sum-death_sum-recovered_sum)
    
    # calculate rates
    sl_mortality_rate.append(sl_death_sum/sl_confirmed_sum)
#     recovery_rate.append(recovered_sum/confirmed_sum)

<ipython-input-36-c5e41ca72477>:21: RuntimeWarning: invalid value encountered in long_scalars
  sl_mortality_rate.append(sl_death_sum/sl_confirmed_sum)

In [37]:


#Getting daily increases and moving averages

In [96]:
def daily_increase(data):
    d = [] 
    for i in range(len(data)):
        if i == 0:
            d.append(data[0])
        else:
            d.append(data[i]-data[i-1])
    return d 

def moving_average(data, window_size):
    moving_average = []
    for i in range(len(data)):
        if i + window_size < len(data):
            moving_average.append(np.mean(data[i:i+window_size]))
        else:
            moving_average.append(np.mean(data[i:len(data)]))
    return moving_average

# window size
window = 7

# confirmed cases
world_daily_increase = daily_increase(sl_cases)
world_confirmed_avg= moving_average(sl_cases, window)
world_daily_increase_avg = moving_average(world_daily_increase, window)

# deaths
world_daily_death = daily_increase(sl_total_deaths)
world_death_avg = moving_average(sl_total_deaths, window)
world_daily_death_avg = moving_average(world_daily_death, window)


# recoveries
# world_daily_recovery = daily_increase(total_recovered)
# world_recovery_avg = moving_average(total_recovered, window)
# world_daily_recovery_avg = moving_average(world_daily_recovery, window)


# active 
# world_active_avg = moving_average(total_active, window)

In [82]:
days_since_1_22 = np.array([i for i in range(len(dates))]).reshape(-1, 1)
sl_cases = np.array(sl_cases).reshape(-1, 1)
sl_total_deaths = np.array(sl_total_deaths).reshape(-1, 1)
# total_recovered = np.array(total_recovered).reshape(-1, 1)

In [83]:
#Future forcasting

In [84]:
days_in_future = 20
future_forcast = np.array([i for i in range(len(dates)+days_in_future)]).reshape(-1, 1)
adjusted_dates = future_forcast[:-20]

In [85]:
#Convert integer into datetime for better visualization

In [86]:
start = '1/22/2020'
start_date = datetime.datetime.strptime(start, '%m/%d/%Y')
future_forcast_dates = []
for i in range(len(future_forcast)):
    future_forcast_dates.append((start_date + datetime.timedelta(days=i)).strftime('%m/%d/%Y'))

In [87]:
# slightly modify the data to fit the model better (regression models cannot pick the pattern)
X_train_confirmed, X_test_confirmed, y_train_confirmed, y_test_confirmed = train_test_split(days_since_1_22[50:], sl_cases[50:], test_size=0.03, shuffle=False)

In [88]:
#Model for predicting # of confirmed cases. I am using support vector machine, bayesian ridge , and linear regression in this example. We will show the results in the later section.

In [89]:
#bla bla bla bla bla

In [90]:

#Worldwide Overview

#Graphing the number of confirmed cases, deaths, and mortality rate (CFR). This gives us a big picture of the ongoing pandemic.

In [91]:
# helper method for flattening the data, so it can be displayed on a bar graph 
def flatten(arr):
    a = [] 
    arr = arr.tolist()
    for i in arr:
        a.append(i[0])
    return a

In [92]:
len(sl_cases)

497

In [93]:
len(sl_total_deaths)

497

In [94]:
len(adjusted_dates)

497

In [99]:
future_forcast_dates

['01/22/2020',
 '01/23/2020',
 '01/24/2020',
 '01/25/2020',
 '01/26/2020',
 '01/27/2020',
 '01/28/2020',
 '01/29/2020',
 '01/30/2020',
 '01/31/2020',
 '02/01/2020',
 '02/02/2020',
 '02/03/2020',
 '02/04/2020',
 '02/05/2020',
 '02/06/2020',
 '02/07/2020',
 '02/08/2020',
 '02/09/2020',
 '02/10/2020',
 '02/11/2020',
 '02/12/2020',
 '02/13/2020',
 '02/14/2020',
 '02/15/2020',
 '02/16/2020',
 '02/17/2020',
 '02/18/2020',
 '02/19/2020',
 '02/20/2020',
 '02/21/2020',
 '02/22/2020',
 '02/23/2020',
 '02/24/2020',
 '02/25/2020',
 '02/26/2020',
 '02/27/2020',
 '02/28/2020',
 '02/29/2020',
 '03/01/2020',
 '03/02/2020',
 '03/03/2020',
 '03/04/2020',
 '03/05/2020',
 '03/06/2020',
 '03/07/2020',
 '03/08/2020',
 '03/09/2020',
 '03/10/2020',
 '03/11/2020',
 '03/12/2020',
 '03/13/2020',
 '03/14/2020',
 '03/15/2020',
 '03/16/2020',
 '03/17/2020',
 '03/18/2020',
 '03/19/2020',
 '03/20/2020',
 '03/21/2020',
 '03/22/2020',
 '03/23/2020',
 '03/24/2020',
 '03/25/2020',
 '03/26/2020',
 '03/27/2020',
 '03/28/2020',
 '03/29/2020',
 '03/30/2020',
 '03/31/2020',
 '04/01/2020',
 '04/02/2020',
 '04/03/2020',
 '04/04/2020',
 '04/05/2020',
 '04/06/2020',
 '04/07/2020',
 '04/08/2020',
 '04/09/2020',
 '04/10/2020',
 '04/11/2020',
 '04/12/2020',
 '04/13/2020',
 '04/14/2020',
 '04/15/2020',
 '04/16/2020',
 '04/17/2020',
 '04/18/2020',
 '04/19/2020',
 '04/20/2020',
 '04/21/2020',
 '04/22/2020',
 '04/23/2020',
 '04/24/2020',
 '04/25/2020',
 '04/26/2020',
 '04/27/2020',
 '04/28/2020',
 '04/29/2020',
 '04/30/2020',
 '05/01/2020',
 '05/02/2020',
 '05/03/2020',
 '05/04/2020',
 '05/05/2020',
 '05/06/2020',
 '05/07/2020',
 '05/08/2020',
 '05/09/2020',
 '05/10/2020',
 '05/11/2020',
 '05/12/2020',
 '05/13/2020',
 '05/14/2020',
 '05/15/2020',
 '05/16/2020',
 '05/17/2020',
 '05/18/2020',
 '05/19/2020',
 '05/20/2020',
 '05/21/2020',
 '05/22/2020',
 '05/23/2020',
 '05/24/2020',
 '05/25/2020',
 '05/26/2020',
 '05/27/2020',
 '05/28/2020',
 '05/29/2020',
 '05/30/2020',
 '05/31/2020',
 '06/01/2020',
 '06/02/2020',
 '06/03/2020',
 '06/04/2020',
 '06/05/2020',
 '06/06/2020',
 '06/07/2020',
 '06/08/2020',
 '06/09/2020',
 '06/10/2020',
 '06/11/2020',
 '06/12/2020',
 '06/13/2020',
 '06/14/2020',
 '06/15/2020',
 '06/16/2020',
 '06/17/2020',
 '06/18/2020',
 '06/19/2020',
 '06/20/2020',
 '06/21/2020',
 '06/22/2020',
 '06/23/2020',
 '06/24/2020',
 '06/25/2020',
 '06/26/2020',
 '06/27/2020',
 '06/28/2020',
 '06/29/2020',
 '06/30/2020',
 '07/01/2020',
 '07/02/2020',
 '07/03/2020',
 '07/04/2020',
 '07/05/2020',
 '07/06/2020',
 '07/07/2020',
 '07/08/2020',
 '07/09/2020',
 '07/10/2020',
 '07/11/2020',
 '07/12/2020',
 '07/13/2020',
 '07/14/2020',
 '07/15/2020',
 '07/16/2020',
 '07/17/2020',
 '07/18/2020',
 '07/19/2020',
 '07/20/2020',
 '07/21/2020',
 '07/22/2020',
 '07/23/2020',
 '07/24/2020',
 '07/25/2020',
 '07/26/2020',
 '07/27/2020',
 '07/28/2020',
 '07/29/2020',
 '07/30/2020',
 '07/31/2020',
 '08/01/2020',
 '08/02/2020',
 '08/03/2020',
 '08/04/2020',
 '08/05/2020',
 '08/06/2020',
 '08/07/2020',
 '08/08/2020',
 '08/09/2020',
 '08/10/2020',
 '08/11/2020',
 '08/12/2020',
 '08/13/2020',
 '08/14/2020',
 '08/15/2020',
 '08/16/2020',
 '08/17/2020',
 '08/18/2020',
 '08/19/2020',
 '08/20/2020',
 '08/21/2020',
 '08/22/2020',
 '08/23/2020',
 '08/24/2020',
 '08/25/2020',
 '08/26/2020',
 '08/27/2020',
 '08/28/2020',
 '08/29/2020',
 '08/30/2020',
 '08/31/2020',
 '09/01/2020',
 '09/02/2020',
 '09/03/2020',
 '09/04/2020',
 '09/05/2020',
 '09/06/2020',
 '09/07/2020',
 '09/08/2020',
 '09/09/2020',
 '09/10/2020',
 '09/11/2020',
 '09/12/2020',
 '09/13/2020',
 '09/14/2020',
 '09/15/2020',
 '09/16/2020',
 '09/17/2020',
 '09/18/2020',
 '09/19/2020',
 '09/20/2020',
 '09/21/2020',
 '09/22/2020',
 '09/23/2020',
 '09/24/2020',
 '09/25/2020',
 '09/26/2020',
 '09/27/2020',
 '09/28/2020',
 '09/29/2020',
 '09/30/2020',
 '10/01/2020',
 '10/02/2020',
 '10/03/2020',
 '10/04/2020',
 '10/05/2020',
 '10/06/2020',
 '10/07/2020',
 '10/08/2020',
 '10/09/2020',
 '10/10/2020',
 '10/11/2020',
 '10/12/2020',
 '10/13/2020',
 '10/14/2020',
 '10/15/2020',
 '10/16/2020',
 '10/17/2020',
 '10/18/2020',
 '10/19/2020',
 '10/20/2020',
 '10/21/2020',
 '10/22/2020',
 '10/23/2020',
 '10/24/2020',
 '10/25/2020',
 '10/26/2020',
 '10/27/2020',
 '10/28/2020',
 '10/29/2020',
 '10/30/2020',
 '10/31/2020',
 '11/01/2020',
 '11/02/2020',
 '11/03/2020',
 '11/04/2020',
 '11/05/2020',
 '11/06/2020',
 '11/07/2020',
 '11/08/2020',
 '11/09/2020',
 '11/10/2020',
 '11/11/2020',
 '11/12/2020',
 '11/13/2020',
 '11/14/2020',
 '11/15/2020',
 '11/16/2020',
 '11/17/2020',
 '11/18/2020',
 '11/19/2020',
 '11/20/2020',
 '11/21/2020',
 '11/22/2020',
 '11/23/2020',
 '11/24/2020',
 '11/25/2020',
 '11/26/2020',
 '11/27/2020',
 '11/28/2020',
 '11/29/2020',
 '11/30/2020',
 '12/01/2020',
 '12/02/2020',
 '12/03/2020',
 '12/04/2020',
 '12/05/2020',
 '12/06/2020',
 '12/07/2020',
 '12/08/2020',
 '12/09/2020',
 '12/10/2020',
 '12/11/2020',
 '12/12/2020',
 '12/13/2020',
 '12/14/2020',
 '12/15/2020',
 '12/16/2020',
 '12/17/2020',
 '12/18/2020',
 '12/19/2020',
 '12/20/2020',
 '12/21/2020',
 '12/22/2020',
 '12/23/2020',
 '12/24/2020',
 '12/25/2020',
 '12/26/2020',
 '12/27/2020',
 '12/28/2020',
 '12/29/2020',
 '12/30/2020',
 '12/31/2020',
 '01/01/2021',
 '01/02/2021',
 '01/03/2021',
 '01/04/2021',
 '01/05/2021',
 '01/06/2021',
 '01/07/2021',
 '01/08/2021',
 '01/09/2021',
 '01/10/2021',
 '01/11/2021',
 '01/12/2021',
 '01/13/2021',
 '01/14/2021',
 '01/15/2021',
 '01/16/2021',
 '01/17/2021',
 '01/18/2021',
 '01/19/2021',
 '01/20/2021',
 '01/21/2021',
 '01/22/2021',
 '01/23/2021',
 '01/24/2021',
 '01/25/2021',
 '01/26/2021',
 '01/27/2021',
 '01/28/2021',
 '01/29/2021',
 '01/30/2021',
 '01/31/2021',
 '02/01/2021',
 '02/02/2021',
 '02/03/2021',
 '02/04/2021',
 '02/05/2021',
 '02/06/2021',
 '02/07/2021',
 '02/08/2021',
 '02/09/2021',
 '02/10/2021',
 '02/11/2021',
 '02/12/2021',
 '02/13/2021',
 '02/14/2021',
 '02/15/2021',
 '02/16/2021',
 '02/17/2021',
 '02/18/2021',
 '02/19/2021',
 '02/20/2021',
 '02/21/2021',
 '02/22/2021',
 '02/23/2021',
 '02/24/2021',
 '02/25/2021',
 '02/26/2021',
 '02/27/2021',
 '02/28/2021',
 '03/01/2021',
 '03/02/2021',
 '03/03/2021',
 '03/04/2021',
 '03/05/2021',
 '03/06/2021',
 '03/07/2021',
 '03/08/2021',
 '03/09/2021',
 '03/10/2021',
 '03/11/2021',
 '03/12/2021',
 '03/13/2021',
 '03/14/2021',
 '03/15/2021',
 '03/16/2021',
 '03/17/2021',
 '03/18/2021',
 '03/19/2021',
 '03/20/2021',
 '03/21/2021',
 '03/22/2021',
 '03/23/2021',
 '03/24/2021',
 '03/25/2021',
 '03/26/2021',
 '03/27/2021',
 '03/28/2021',
 '03/29/2021',
 '03/30/2021',
 '03/31/2021',
 '04/01/2021',
 '04/02/2021',
 '04/03/2021',
 '04/04/2021',
 '04/05/2021',
 '04/06/2021',
 '04/07/2021',
 '04/08/2021',
 '04/09/2021',
 '04/10/2021',
 '04/11/2021',
 '04/12/2021',
 '04/13/2021',
 '04/14/2021',
 '04/15/2021',
 '04/16/2021',
 '04/17/2021',
 '04/18/2021',
 '04/19/2021',
 '04/20/2021',
 '04/21/2021',
 '04/22/2021',
 '04/23/2021',
 '04/24/2021',
 '04/25/2021',
 '04/26/2021',
 '04/27/2021',
 '04/28/2021',
 '04/29/2021',
 '04/30/2021',
 '05/01/2021',
 '05/02/2021',
 '05/03/2021',
 '05/04/2021',
 '05/05/2021',
 '05/06/2021',
 '05/07/2021',
 '05/08/2021',
 '05/09/2021',
 '05/10/2021',
 '05/11/2021',
 '05/12/2021',
 '05/13/2021',
 '05/14/2021',
 '05/15/2021',
 '05/16/2021',
 '05/17/2021',
 '05/18/2021',
 '05/19/2021',
 '05/20/2021',
 '05/21/2021',
 '05/22/2021',
 '05/23/2021',
 '05/24/2021',
 '05/25/2021',
 '05/26/2021',
 '05/27/2021',
 '05/28/2021',
 '05/29/2021',
 '05/30/2021',
 '05/31/2021',
 '06/01/2021',
 '06/02/2021',
 '06/03/2021',
 '06/04/2021',
 '06/05/2021',
 '06/06/2021',
 '06/07/2021',
 '06/08/2021',
 '06/09/2021',
 '06/10/2021',
 '06/11/2021',
 '06/12/2021',
 '06/13/2021',
 '06/14/2021',
 '06/15/2021',
 '06/16/2021',
 '06/17/2021',
 '06/18/2021',
 '06/19/2021',
 '06/20/2021',
 '06/21/2021']

In [ ]:
adjusted_dates = adjusted_dates.reshape(1, -1)[0]
plt.figure(figsize=(16, 10))
plt.plot(future_forcast_dates[0:-20], sl_cases)
plt.plot(adjusted_dates, world_confirmed_avg, linestyle='dashed', color='orange')
plt.title('# of Coronavirus Cases Over Time', size=30)
plt.xlabel('Days Since 1/22/2020', size=30)
plt.ylabel('# of Cases', size=30)
plt.legend(['Sri Lanka Coronavirus Cases', 'Moving Average {} Days'.format(window)], prop={'size': 20})
plt.xticks(size=20)
plt.yticks(size=20)
plt.show()

plt.figure(figsize=(16, 10))
plt.plot(adjusted_dates, sl_total_deaths)
plt.plot(adjusted_dates, world_death_avg, linestyle='dashed', color='orange')
plt.title('# of Coronavirus Deaths Over Time', size=30)
plt.xlabel('Days Since 1/22/2020', size=30)
plt.ylabel('# of Cases', size=30)
plt.legend(['Sri Lanka Coronavirus Deaths', 'Moving Average {} Days'.format(window)], prop={'size': 20})
plt.xticks(size=20)
plt.yticks(size=20)
plt.show()